.nameplate {
    color: $gray-darkest;
    font-family: $sans-condensed;
    font-size: 10rem;
    line-height: 0.9;
    margin: 0;
    text-transform: uppercase;
}

.tagline {
    font-family: $mono;
    font-size: 1.75rem;
}