// Fonts
$sans: Arial Narrow, Arial, sans-serif;
$oswald: 'Oswald', sans-serif;
$sans-condensed: 'Pathway Gothic One', sans-serif;
$mono: Courier, monospace;

// Colors
$black: #22292F;
$red: #EC847A;
$white: #FFFFFF;
$sand: #FFE2BA;

$gray-lightest: #F8FAFC;
$gray-lighter: #F1F5F8;
$gray-light: #DAE1E7;
$gray: #B8C2CC;
$gray-dark: #8795A1;
$gray-darker: #606F7B;
$gray-darkest: #3D4852;